In [2]:
#Simple print method 
print("Hello World")

Hello World

In [12]:
#variables
num1 = 23
num2 = 34.87
name = "John Doe" #string
print("Number 1:",num1)
print("Name:",name)
print(f"Number 2: {num2}")
print(type(num1))

Number 1: 23
Name: John Doe
Number 2: 34.87
<class 'int'>

In [10]:
#value assignment to variables
x,y,z = "text1","text2","text3"
print(x," ",y," ",z," ")
p=q=r = "temp"
print(p," ",q," ",r," ")

text1   text2   text3
temp   temp   temp

In [23]:
#taking input from user
num1 = input("Enter first number")
num2 = input("Enter second number")
result = (int(num1) ** int(num2))
result1 = (int(num1) / int(num2))
print("Exponentiation:",result)
print("floor division:",result1)

print("Addition: ", (int(num1)+int(num2)))

Enter first number 12
Enter second number 2

Exponentiation: 144
floor division: 6.0
Addition:  14

In [28]:
num1 = int(input("Enter first number"))
num2 = int(input("Enter second number"))

print("Both numbers are equal?",num1 == num2)

Enter first number 12
Enter second number 13

Both numbers are equal? False

In [30]:
# Initializing variables
a = 10
b = 5

a = b         
print("a =", a)  

a += b         # Equivalent to a = a + b
print("a += b:", a)  # Output: a += b: 10

a -= b         # Equivalent to a = a - b
print("a -= b:", a)  # Output: a -= b: 5

a *= b         # Equivalent to a = a * b
print("a *= b:", a)  # Output: a *= b: 25

a /= b         # Equivalent to a = a / b
print("a /= b:", a)  # Output: a /= b: 5.0

a %= b         # Equivalent to a = a % b
print("a %= b:", a)  # Output: a %= b: 0.0

a **= b       
print("a **= b:", a)

a = 5
a += b: 10
a -= b: 5
a *= b: 25
a /= b: 5.0
a %= b: 0.0
a **= b: 0.0

In [31]:
a = True
b = False

result = a and b
print("a and b:", result)

result = a or b
print("a or b:", result)

result = not a
print("not a:", result)

result = (a and b) or (not a)
print("(a and b) or (not a):", result)

a and b: False
a or b: True
not a: False
(a and b) or (not a): False

In [32]:
default_email = "user@example.com"
default_password = "password123"

email = input("Enter your email: ")
password = input("Enter your password: ")

if email == default_email and password == default_password:
    print("Login successful!")
else:
    print("Invalid email or password.")

Enter your email:  riya@gmail.com
Enter your password:  1234

Invalid email or password.

In [33]:
number = int(input("Enter a number: "))

if number > 0:
    print("The number is positive.")
elif number < 0:
    print("The number is negative.")
else:     
    print("The number is zero.")

Enter a number:  23

The number is positive.

In [34]:
number = int(input("Enter a number: "))

result = "Positive" if number > 0 else "Negative or Zero"
print(result)

Enter a number:  23

Positive

In [35]:
number = int(input("Enter a number: "))

if number >= 0:
    if number == 0:
        print("The number is zero.")
    else:
        print("The number is positive.")
else:
    print("The number is negative.")

Enter a number:  34

The number is positive.

In [37]:
score = int(input("Enter your score: "))

if 90 <= score <= 100:
    grade = "A"
elif 70 <= score < 90:
    grade = "B"
elif 50 <= score < 70:
    grade = "C"
else:
    grade = "Fail"

print("Your grade is:", grade)

Enter your score:  109

Your grade is: Fail

In [39]:
number = int(input("Enter a number: "))

if number > 0:
    if number % 2 == 0:
        print("The number is positive and even.")
    else:
        print("The number is positive and odd.")
elif number == 0:
    print("The number is zero.")
else:
    if number < -10:
        print("The number is negative and less than -10.")
    else:
        print("The number is negative but not less than -10.")

Enter a number:  -56

The number is negative and less than -10.

In [40]:
price = float(input("Enter the original price: "))

if price > 500:
    discount = 0.20 * price
elif 200 <= price <= 500:
    discount = 0.10 * price
else:
    discount = 0.0

final_price = price - discount

print("Discount:", discount)
print("Final price:", final_price)

Enter the original price:  250

Discount: 25.0
Final price: 225.0

In [41]:
count = 1
while count<=5:
    print(count)
    count+=1

1
2
3
4
5

In [42]:
for num in range(1,6):
    print (num)

1
2
3
4
5

In [43]:
count = 0

while True:
    print("Count:", count)
    count += 1
    if count >= 5:
        break

print("Loop ended.")

Count: 0
Count: 1
Count: 2
Count: 3
Count: 4
Loop ended.

In [44]:
start = int(input("Enter the start of the range: "))
end = int(input("Enter the end of the range: "))

sum_even = 0

for num in range(start,end):
    if num % 2 == 0:
        sum_even += num
print(sum_even)

Enter the start of the range:  1
Enter the end of the range:  5

6

In [47]:
rows = int(input("Enter the number of rows: "))

for i in range(1, rows + 1):
    for j in range(1,i+1):
        print(j, end = " ")  
    print()

Enter the number of rows:  4

1
1 2
1 2 3
1 2 3 4

In [48]:
def hello():
    print("Hi guys")
hello()

Hi guys

In [50]:
def names(name):
    print("My name is",name)
names("riya")

My name is riya

In [51]:
def multiply_num(a,b):
    return(a*b)
print("product is " , multiply_num(5,6))

product is  30

In [52]:
def factorial(n):
    if n == 0:
        return 1
    else:
        return n * factorial(n - 1)

number = int(input("Enter a number: "))
result = factorial(number)
print("Factorial of", number, "is", result)

Enter a number:  5

Factorial of 5 is 120

In [53]:
def login(email, password):
    admin_email = "admin@example.com"
    admin_password = "123"
    
    if email == admin_email and password == admin_password:
        return "Login successful!"
    else:
        return "Invalid email or password."

email = input("Enter your email: ")
password = input("Enter your password: ")

result = login(email, password)
print(result)

Enter your email:  123@gmail.com
Enter your password:  43w

Invalid email or password.

In [60]:
#list
mylist = [10,20,30,40]
print(mylist)
print(mylist[3]) #access based on index
mylist.append(60)
print(mylist)
mylist.insert(2,25)
print(mylist)

#data removal
print(mylist.pop())
print(mylist)

print(len(mylist))

print("Minimum value ",min(mylist))
print("Maximum value ",max(mylist))
print("Sum ",sum(mylist))
data = mylist.remove(25)
print(mylist)

print(20 in mylist)

[10, 20, 30, 40]
40
[10, 20, 30, 40, 60]
[10, 20, 25, 30, 40, 60]
60
[10, 20, 25, 30, 40]
5
Minimum value  10
Maximum value  40
Sum  125
[10, 20, 30, 40]
True

In [61]:
numbers = [0, 1, 2, 3, 4, 5, 6, 7, 8, 9]

print("Original list:", numbers)
print("numbers[2:6]:", numbers[2:6])
print("numbers[:6]:", numbers[:6])
print("numbers[5:]:", numbers[5:])
print("numbers[::2]:", numbers[::2])
print("numbers[::-1]:", numbers[::-1])
print("numbers[1:8:2]:", numbers[1:8:2])

Original list: [0, 1, 2, 3, 4, 5, 6, 7, 8, 9]
numbers[2:6]: [2, 3, 4, 5]
numbers[:6]: [0, 1, 2, 3, 4, 5]
numbers[5:]: [5, 6, 7, 8, 9]
numbers[::2]: [0, 2, 4, 6, 8]
numbers[::-1]: [9, 8, 7, 6, 5, 4, 3, 2, 1, 0]
numbers[1:8:2]: [1, 3, 5, 7]

In [62]:
numbers = [5, 2, 9, 1, 5, 6]

sorted_numbers = sorted(numbers)
print("Sorted list:", sorted_numbers)

reversed_numbers = list(reversed(numbers))
print("Reversed list:", reversed_numbers)

Sorted list: [1, 2, 5, 5, 6, 9]
Reversed list: [6, 5, 1, 9, 2, 5]

In [63]:
numbers = [5, 2, 9, 1, 5, 6]

numbers_copy = numbers.copy()
numbers_copy.sort()

print("Original list:", numbers)
print("Sorted copy:", numbers_copy)

Original list: [5, 2, 9, 1, 5, 6]
Sorted copy: [1, 2, 5, 5, 6, 9]

In [65]:
todo_list = []

def add_todo():
    todo = input("Enter a to-do item: ")
    todo_list.append(todo)
    print(f"Added: {todo}")

def remove_todo():
    todo = input("Enter the to-do item to remove: ")
    if todo in todo_list:
        todo_list.remove(todo)
        print(f"Removed: {todo}")
    else:
        print(f"{todo} not found in the to-do list.")

def get_all_todo():
    print("Current to-do list:", todo_list)

while True:
    print("\nEnter 1 to add ")
    print("Enter 2 to remove")
    print("Enter 3 to get the list")
    print("Enter 4 to exit")
    
    choice = input("Enter your choice: ")
    
    if choice == '1':
        add_todo()
    elif choice == '2':
        remove_todo()
    elif choice == '3':
        get_all_todo()
    elif choice == '4':
        print("Byeeeeee...")
        break
    else:
        print("Invalid choice.")

Enter 1 to add
Enter 2 to remove
Enter 3 to get the list
Enter 4 to exit

Enter your choice:  1
Enter a to-do item:  eat

Added: eat

Enter 1 to add
Enter 2 to remove
Enter 3 to get the list
Enter 4 to exit

Enter your choice:  1
Enter a to-do item:  sleep

Added: sleep

Enter 1 to add
Enter 2 to remove
Enter 3 to get the list
Enter 4 to exit

Enter your choice:  1
Enter a to-do item:  have coffee

Added: have coffee

Enter 1 to add
Enter 2 to remove
Enter 3 to get the list
Enter 4 to exit

Enter your choice:  2
Enter the to-do item to remove:  have coffee

Removed: have coffee

Enter 1 to add
Enter 2 to remove
Enter 3 to get the list
Enter 4 to exit

Enter your choice:  3

Current to-do list: ['eat', 'sleep']

Enter 1 to add
Enter 2 to remove
Enter 3 to get the list
Enter 4 to exit

Enter your choice:  4

Byeeeeee...

In [70]:
my_tuple = (42, "Hello", 3.14, True, [1, 2, 3])

print(my_tuple)

empty_tup = ()
print(empty_tup)

data = ("hello",)
print(data)
print(type(data))

print("access values: ",my_tuple[1])

(42, 'Hello', 3.14, True, [1, 2, 3])
()
('hello',)
<class 'tuple'>
access values:  Hello

In [71]:
my_tuple = (42, "Hello", 3.14, True, [1, 2, 3])

my_list = list(my_tuple)

my_list[0] = 99
my_list.append("New Element")

modified_tuple = tuple(my_list)

print("Original tuple:", my_tuple)
print("Modified tuple:", modified_tuple)

Original tuple: (42, 'Hello', 3.14, True, [1, 2, 3])
Modified tuple: (99, 'Hello', 3.14, True, [1, 2, 3], 'New Element')

In [72]:
tuple1 = (1, 2, 3)
tuple2 = (4, 5, 6)
concatenated_tuple = tuple1 + tuple2
print(concatenated_tuple)

(1, 2, 3, 4, 5, 6)

In [75]:
list = [1,2,3,2,4,5,6,2,7,8]
print(list.count(2))

print(list.index(3))

3
2

In [78]:
employee = {
    "name": "John Doe",
    "age": 30,
    "department": "Engineering",
    "position": "Software Engineer",
    "salary": 75000
}

print(employee)
print("Employee name",employee["name"])
print("Manager: ",employee.get("manager"))

{'name': 'John Doe', 'age': 30, 'department': 'Engineering', 'position': 'Software Engineer', 'salary': 75000}
Employee name John Doe
Manager:  None

In [80]:
student = {
    "id" : 1,
    "name" :"John",
    "email" :"abc@xyz.com",
    "address" :"USA"
}
for key in student:
    print(key,": ",student[key])

id :  1
name :  John
email :  abc@xyz.com
address :  USA

In [82]:
print(student.items())

dict_items([('id', 1), ('name', 'John'), ('email', 'abc@xyz.com'), ('address', 'USA')])

In [83]:
for key,value in student.items():
    print(key,": ",value)

id :  1
name :  John
email :  abc@xyz.com
address :  USA

In [88]:
set1 = {1, 2, 3, 4, 5}
set2 = {4, 5, 6, 7, 8}

union_set = set1 | set2
intersection_set = set1 & set2
difference_set = set1 - set2
symmetric_difference_set = set1 ^ set2

print("Union:", union_set)
print(set1.union(set2))
print("Intersection:", intersection_set)
print(set1.intersection(set2))
print("Difference:", difference_set)
print(set1.difference(set2))
print("Symmetric Difference:", symmetric_difference_set)
print(set1.symmetric_difference(set2))

Union: {1, 2, 3, 4, 5, 6, 7, 8}
{1, 2, 3, 4, 5, 6, 7, 8}
Intersection: {4, 5}
{4, 5}
Difference: {1, 2, 3}
{1, 2, 3}
Symmetric Difference: {1, 2, 3, 6, 7, 8}
{1, 2, 3, 6, 7, 8}

In [106]:
def print_employees(employees):
    for name, details in employees.items():
        print(f"Employee: {name}, Salary: {details[0]}, Department: {details[1]}")

employees = {
    "Alice": [50000, "HR"],
    "Bob": [60000, "IT"],
    "Charlie": [70000, "Finance"]
}

print("Original Employees")
print_employees(employees)

print("\nAdding one more employee")
employees["David"] = [55000, "Marketing"]
print_employees(employees)

print("\nAfter updating the salary")
employees["Alice"][0] = 52000
print_employees(employees)

print("\nDeleting an employee")
del employees["Charlie"]
print_employees(employees)

print("\nList of all employees")
print_employees(employees)

Original Employees
Employee: Alice, Salary: 50000, Department: HR
Employee: Bob, Salary: 60000, Department: IT
Employee: Charlie, Salary: 70000, Department: Finance

Adding one more employee
Employee: Alice, Salary: 50000, Department: HR
Employee: Bob, Salary: 60000, Department: IT
Employee: Charlie, Salary: 70000, Department: Finance
Employee: David, Salary: 55000, Department: Marketing

After updating the salary
Employee: Alice, Salary: 52000, Department: HR
Employee: Bob, Salary: 60000, Department: IT
Employee: Charlie, Salary: 70000, Department: Finance
Employee: David, Salary: 55000, Department: Marketing

Deleting an employee
Employee: Alice, Salary: 52000, Department: HR
Employee: Bob, Salary: 60000, Department: IT
Employee: David, Salary: 55000, Department: Marketing

List of all employees
Employee: Alice, Salary: 52000, Department: HR
Employee: Bob, Salary: 60000, Department: IT
Employee: David, Salary: 55000, Department: Marketing